body {
	font-family: 'Open Sans', sans-serif;
	padding: 10px;
}

a:link {
	text-decoration: none;
	color: #242424;
	padding-right: 10px;
	padding-left: 5px;
}
a:visited {
	text-decoration: none;
	color: #242424;
}


.left {
	height: 100px;
	display: inline-block;
	font-size: 0.8em;
	clear: right;
}

.right {
	display: inline-block;
	float: right;
	margin-top: -10px;
	font-size: 0.8em;
}

#Gmail {
	display: inline-block;
	position: relative;
	top: -10px;
	margin-right: 3px;
}

#Bilder {
	position: relative;
	top: -10px;
	margin-right: -3px;
}


#Apps {
	position: relative;
	top: -5px;
	margin-right: 10px;
	text-align: center;
}

.core {
	text-align: center;
	margin-top: 100px;
}

.core form input {
	width: 35%;
	line-height: 150%;
}

a:visited {
	font-style: none;
}

#Gmail {
	padding: 0;
}
