body {
	font-family: 'Open Sans', sans-serif;

}

a:link {
	text-decoration: none;
	color: #242424;
	padding-right: 10px;
	padding-left: 5px;
}
a:visited {
	text-decoration: none;
	color: #242424;
}


.left {
	padding-top: 10px;
	padding-left: 10px;
	height: 100px;
	display: inline-block;
	font-size: 0.8em;
	
}

.right {
	padding-top: 10px;
	display: inline-block;
	float: right;
	margin-top: -10px;
	font-size: 0.8em;
}

#Gmail {
	display: inline-block;
	position: relative;
	top: -10px;
	margin-right: 3px;
}

#Gmail {
	padding: 0;
}

#Bilder {
	position: relative;
	top: -10px;
	margin-right: -3px;
}


#Apps {
	position: relative;
	top: -5px;
	margin-right: 10px;
	text-align: center;
}

.core {
	text-align: center;
	margin-top: 80px;
}

.core form input {
	width: 45%;
	line-height: 350%;
	margin-bottom: 25px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 3px;
	box-shadow: 2px 2px 3px 0.1px rgba(102,102,102,0.3);
}

a:visited {
	font-style: none;
}

button {
	background-color: #f5f5f5;
	line-height: 350%;
	padding: 0 30px;
	border: none;
}

.footer {
	
	margin-top: 350px;
	background-color: #f5f5f5;
	font-size: 0.9em;
	font-weight: lighter;
}

.footer p{
	display: inline-block;
	padding-right: 10px;
}

#Deutsch {
	display: block;
	margin-bottom: 0;
	padding: 10px;
}
